{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- TOPBAR -->
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Sunlumo</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>
<!-- END TOPBAR -->

<!-- SIDEBAR -->
<div id="sidebar">
    <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#panelLayers">Slojevi</a>
            <div id="panelLayers" class="content active">
            </div>
        </li>
        <li class="accordion-navigation">
            <a href="#panelSearch">Pretraživanje</a>
            <div id="panelSearch" class="content">
                test
            </div>
        </li>
        <li class="accordion-navigation">
            <a href="#panelTools">Alati</a>
            <div id="panelTools" class="content">
                test
            </div>
        </li>
    </ul>
</div>
<!-- END SIDEBAR -->

<!-- MAP -->
<div id='map'></div>
<!-- END MAP -->

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/app.module.js' %}"></script>

<script>

new SL_Project({{ SL_Details|safe }});

$(document).ready(function() {
    $(document).foundation();
    $(document).foundation('accordion', 'reflow');
});

</script>

{% endblock %}
