html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hide {
  display: none;
}

#map {
    position: fixed;
    top: 45px;
    bottom: 0px;
    left: 300px;
    right: 0px;
    margin: 0;
    padding: 0;
}

#sidebar {
    width:300px;
}

#sidebar ul {
  margin-left: 0;
}

#panelLayers {
  padding: 0 !important;
  margin: 2px 2px;
}

#panelLayers div.layer-details {
  display: inline-block;
  margin-top: 5px;
  padding: 0 0 0 10px;
}

#panelLayers div.layer-name {
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  text-transform: uppercase;
}

#panelLayers div.layer-settings-control {
  position: relative;
  float: right;
  clear: right;
}


#panelLayers div.layer_list {
  margin:0;
  width: 100%;
  display: inline-block;
  padding:0;
}

#panelLayers div.layer {
  font-size: 12px;
  color: #000;
  padding: 4px 5px 2px 0px;
}
}

#panelLayers div.layer:hover {
  background-color: #EEEEEE;
}

#panelLayers div.dragging {
  background: #EEE;
}

#panelLayers .layer-control {
  display: inline-block;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  line-height: 18px;
  margin-left: 5px;
}

#panelLayers .layer-control:hover {
  color: #000;
}

.deactivated {
  color: rgba(0,0,0,0.2) !important;
}


#panelSearch {
  margin: 10px;
  padding: 0;
}

#panelSearch .columns {
  padding: 0 !important;
}
