html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.logo {
  height: 35px;
  margin-right: 5px;
  margin-top: 2px;
}

.hide {
  display: none;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  padding: 3px 5px;
}

.panel .heading {
  position: relative;
  clear: left;
  width: 100%;
  background-color: #333;
  font-size: 14px;
  color: #FFF;
  padding: 3px 10px;
  text-transform: uppercase;
}

.panel .content {
  position: relative;
  clear: left;
  width: 100%;
  padding: 3px;
  border: solid 1px #333;
}

#map {
    position: fixed;
    top: 45px;
    bottom: 0px;
    left: 300px;
    right: 0px;
    margin: 0;
    padding: 0;
}

#sidebar {
    width:300px;
}

#sidebar ul {
  margin-left: 0;
}

#panelLayers {
  padding: 0 !important;
  margin: 2px 2px;
}

#panelLayers div.layer-details {
  display: inline-block;
  margin-top: 5px;
  padding: 0 0 0 10px;
}

#panelLayers div.layer-name {
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  text-transform: uppercase;
}

#panelLayers div.layer-settings-control {
  position: relative;
  float: right;
  clear: right;
}


#panelLayers div.layer_list {
  margin:0;
  width: 100%;
  display: inline-block;
  padding:0;
}

#panelLayers div.layer {
  font-size: 12px;
  color: #000;
  padding: 4px 5px 2px 0px;
}

#panelLayers div.group {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 4px 5px 2px 0px;
}

#panelLayers div.group:hover {
  background-color: #EEEEEE;
}

#panelLayers div.group .layer {
  font-size: 12px;
  font-weight: normal;
  color: #000;
  padding: 4px 5px 2px 20px;
}

#panelLayers div.group-name {
  margin-left: 10px;
  display: inline-block;
  line-height: 18px;
  text-transform: uppercase;
}


#panelLayers div.layer:hover {
  background-color: #EEEEEE;
}

#panelLayers div.dragging {
  background: #FBB;
}

#panelLayers .layer-control {
  display: inline-block;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  line-height: 18px;
  margin-left: 5px;
}

#panelLayers .group-control {
  position: relative;
  float: right;
  clear: right;

  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: #000;
  line-height: 18px;
  margin-left: 5px;
}

#panelLayers .layer-control:hover {
  color: #000;
}

.deactivated {
  color: rgba(0,0,0,0.2) !important;
}


#panelSearch {
  margin: 10px;
  padding: 0;
}

#panelSearch .columns {
  padding: 0 !important;
}


#panelTools .controlHolder {
  width: 100px;
  position: relative;
  float: left;
}

#panelTools .button {
  margin: 0;
  padding: 5px 10px;
}

#panelTools .button i {
  font-size: 24px;
}

#panelTools .controlButton {
  width: 65px;
}

.toolbox-control-results {
  width: 200px;
  position: fixed;
  top: 56px;
  left: 350px;
  z-index: 2;
  padding:0 !important;
  border: none !important;
}

.toolbox-control-results .item {
  display: block;
  font-size: 12px;
}

.toolbox-control-results .content {
  overflow: auto;
  height: 400px;
}

.toggle-icon {
  position: absolute;
  top: 0;
  right: 5px;
}

.locate-icon {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.feature-result {
  display: block;
  position: relative;
}

.mouse-pointer {
  cursor: pointer;
}

.head {
  background-color: #dfdfdf;
}

.head:hover {
  background-color: #c5c5c5;
}
