{% extends "base.html" %}

{% block content %}

<div id='map'></div>

{% endblock %}

{% block extra_js %}
<script>

var map = L.map('map').setView([44.7, 14.5], 9);

var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
});

map.addLayer(osm);

var qgis = new L.NonTiledLayer.WMS("/getmap", {
    layers: 'DMR25 Sjenčanje',
    format: 'image/png',
    transparent: true,
    bgcolor: '0x00FF00',
    map: '/data/simple.qgs',
    pane: map.getPanes().tilePane
});


map.addLayer(qgis);
</script>
{% endblock %}