@charset "UTF-8";
@import "base";
@import "utils";


#map {
    position: fixed;
    top: rem-calc(45);
    left: rem-calc(300);
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#refresh-notification {
    padding-right: rem-calc(8);
    padding-top: rem-calc(3);
    .spinner {
        color: $white-smoke;
    }
}


.hide {
  display: none !important;
}

.sl-accordion {
    @include accordion-container();
    .accordion-navigation {
        @include accordion-navigation($padding: rem-calc(5));
        .content {
            @include accordion-content();
            height: rem-calc(600);
            overflow: auto;
        }
    }
}


.sl-panel {
    @include panel();
    .heading {
        // this class is defined in _utils partial
        @extend .relative-clear-left-100;

        background-color: $oil;
        font-size: rem-calc(14);
        color: $white;
        padding: rem-calc(3) rem-calc(10);
        text-transform: uppercase;
    }
    .content {
        @extend .relative-clear-left-100;

        padding: rem-calc(3);
        border: solid rem-calc(1) $oil;
    }
}

#sidebar {
    width: rem-calc(300);
}

#sidebar ul {
  margin-left: 0;
}

div.layer-details {
  display: inline-block;
  margin-top: rem-calc(5);
  padding: 0 0 0 rem-calc(10);
}

div.layer-name {
  margin-left: rem-calc(10);
  display: inline-block;
  line-height: rem-calc(18);
  text-transform: uppercase;
}

div.layer-settings-control {
  position: relative;
  float: right;
  clear: right;
}


div.layer_list {
  padding: 0 !important;
  margin: rem-calc(2) rem-calc(2);
  width: 100%;
  display: inline-block;
}

div.layer {
  font-size: rem-calc(12);
  color: $black;
  padding: rem-calc(4) rem-calc(5) rem-calc(2) 0;
}

div.group {
  font-size: rem-calc(16);
  font-weight: bold;
  color: $black;
  padding: rem-calc(4) rem-calc(5) rem-calc(2) 0;
}

div.group:hover {
  background-color: #EEEEEE;
}

div.group .layer {
  font-size: rem-calc(12);
  font-weight: normal;
  color: #000;
  padding: rem-calc(4) rem-calc(5) rem-calc(2) rem-calc(20);
}

div.group-name {
  margin-left: rem-calc(10);
  display: inline-block;
  line-height: rem-calc(18);
  text-transform: uppercase;
}


div.layer:hover {
  background-color: #EEEEEE;
}

div.dragging {
  background: #FBB;
}

div.layer-control {
  display: inline-block;
  font-size: rem-calc(16);
  color: #000;
  cursor: pointer;
  line-height: rem-calc(18);
  margin-left: rem-calc(5);
}

div.group-control {
  position: relative;
  float: right;
  clear: right;

  cursor: pointer;
  display: inline-block;
  font-size: rem-calc(16);
  color: #000;
  line-height: rem-calc(18);
  margin-left: rem-calc(5);
}

div.layer-control:hover {
  color: #000;
}

.deactivated {
  color: rgba(0,0,0,0.2) !important;
}


#panelSearch {
  margin: rem-calc(10);
  padding: 0;
}

#panelSearch .columns {
  padding: 0 !important;
}


#panelTools .controlHolder {
  width: rem-calc(100);
  position: relative;
  float: left;
}

#panelTools .button {
  margin: 0;
  padding: rem-calc(5) rem-calc(10);
}

#panelTools .button i {
  font-size: rem-calc(24);
}

#panelTools .controlButton {
  width: rem-calc(65);
}

.toolbox-control-results {
  width: rem-calc(200);
  position: fixed;
  z-index: 2;
  padding:0 !important;
  border: none !important;
}

.GFITool {
  top: rem-calc(56);
  left: rem-calc(350);
}

.DistanceTool {
  top: rem-calc(56);
  right: rem-calc(15);
}

.toolbox-control-results .item {
  display: block;
  font-size: rem-calc(12);
}

.toolbox-control-results .content {
  overflow: auto;
  height: rem-calc(400);
}

.toggle-icon {
  position: absolute;
  top: 0;
  right: rem-calc(5);
}

.locate-icon {
  position: absolute;
  bottom: 0;
  right: rem-calc(5);
}

.feature-result {
  display: block;
  position: relative;
}

.mouse-pointer {
  cursor: pointer;
}

.head {
  background-color: #dfdfdf;
}

.head:hover {
  background-color: #c5c5c5;
}