{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title%} Generic page {% endblock title%}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/contrib.module.css' %}" media="screen" rel="stylesheet" type="text/css">
    <link href="{% static 'css/project.module.css' %}" media="screen" rel="stylesheet" type="text/css">

</head>

<body>
{% block content %}

{% endblock content %}


{% block extra_js %}

{% endblock extra_js %}

</body>
</html>